#huegroup_menu {
	width: 460px;
	margin: auto;
	background-color: #D8D8D8;
}

.huegroup {
	width: 150px;
	display: inline-block;
	vertical-align: top;
	padding: 0;
	margin: 0;
}

.huebulbs {
	display: none;
	padding: 0;
	margin: 0;
}

.group1, .group2, .group3 {
	display: none;
}