#huegroup_menu {
	width: 450px;
	margin: auto;
	margin-top: 15px;
	padding: 0;
	cursor: pointer;
}

label {
	cursor: pointer;
	width: 100%;
	display: inline-block;
}

input {
	display: none;
}
/* change background of checked inputs */
input[type=radio]:checked + label {
	background: red;
}

.huegroup {
	width: 150px;
	display: inline-block;
	vertical-align: top;
	padding: 0;
	margin: 0;
	background-color: #D8D8D8;
}

.huebulbs {
	display: none;
	width: 150px;
	padding: 0;
	margin: 0;
	z-index: 1;
	position: absolute;
	top: 34px;
	background-color: #D8D8D8;
}

.group1, .group2, .group3 {
	display: none;
}